:root { 
    --min-color: #fff200;     
    --sec-color:#f6f6f6;
    --font-color: black;
    --min-margin:100px;
    --weight-100: 100;
    --weight-200: 200;
    --weight-500: 500;
    --weight-800: 800;
    
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
/* font family here =>> */ font-family: 'Montserrat', sans-serif; /* 100 - 200 - 500 - 800 */
color: var(--font-color, black);
height: 3000px;
overflow: hidden;
}

.containar {
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    padding: 15px;
    background-color: var(--min-color);
    color: var(--font-color), black;
    border: none;
    text-transform:capitalize;
    font-weight: 400;
    border-radius: 10%;
    font-size: 18px;
}

/* start media */

/* small */

@media (min-width: 768px) {
    .containar {
        width: 750px;
    }
}

/* mediume */

@media (min-width: 992px) {
    .containar {
        width: 970px;
    }

}

/* larage */

@media (min-width: 1200px) {
    .containar {
        width: 1170px;
    }
}

/*end media*/

/* start header */

.header {padding: 0 60px;}

.header img {
    width: 150px;
    height: 70px;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.flex-list {
display: flex;
justify-content: center;
list-style: none;
margin: 0;
padding: 0;
text-transform: capitalize;
overflow: hidden;
}

.flex-list a {
font-size: 24px;
padding: 15px;
text-decoration: none;
color: var(--font-color);
font-weight: var(--weight-400);
}

@media (max-width: 768px) {

    .header {
        padding: 0px 0px;
        overflow: hidden;
        align-items: center;
        text-align: center;
    }

    .flex {
        display: block;
    }

    .header .containar {
        padding: 0px 50px;
        margin: 0 auto;
    }

    .header img {
        width: 100%;
        height: 100px;
        margin-left: 20%;
        display: block;
    }

    .flex-list {
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: block;
    }

    .flex-list a {
        display: block;
    }

    /**/

    .navs ul a {
        font-size: 17px;
        padding: 9px; }

}

/* end header */
/* start bannar */

.bannar {padding: 0 60px;}

.bannar .containar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1%;
    margin-top: 25px;
}

.bannar .containar .text {
    text-transform: capitalize;
    font-weight: var(--weight-500);
}

.bannar .containar .text h2 {
    font-size: 48px;
}

.bannar .containar .text p {
    font-size: 30px;
    font-weight: var(--weight-500);
    line-height: 1.5;
}
.bannar .containar .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bannar .containar .image img {
    width: 75%;
    height: 100%;
    border-radius: 450px 50px 50px 450px;
    transform: rotate3d(0, 1, 0, 180deg);
    filter: drop-shadow(1px 0px 7px);
}

@media (max-width: 768px) {
    .bannar {padding: 0 30px;}

    .bannar .containar {
        display: block;
    }

    .bannar .containar .text {
        text-align: center;
    }

    .bannar .containar .image{
        display: none;
    }

}
/* start bannar */
/* start protfolio */
.protoflio {
    padding: 0 60px;
    margin-top: 100px;
}

.protoflio h1 {
    font-size: 48px;
    text-transform: uppercase;
}

.protoflio .navs {
    display: flex;
    justify-content: space-between;
    padding: inherit;
}

.protoflio .navs ul {
    list-style: none;
    display: flex;
    text-transform:capitalize;
}
.navs ul a {
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: var(--weight-400);
}

.navs ul li:first-child{
    background-color: var(--min-color);
    border: none;
    border-radius: 10px;
}
.navs select {
    text-transform:capitalize;
    border: none;
    background-color: inherit;
}


.navs select option {
    color: var(--font-color);
    font-weight: var(--weight-400);
}


.protoflio .containar {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.protoflio .containar img {
    width: 100%;
    height: 100%;
}

.two {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

.four {
    grid-column : 1 / 2; 
    grid-row: 2 / 4;
}

.sex {
    grid-column: 3 / 3;
    grid-row: 2 / 4;
}

.cat {
    text-align: center;
}

@media (max-width: 768px) {
    .protoflio {
        padding: 0 20px;
        margin-top: 70px;
    }

    .protoflio .navs {
        padding: 0;
    }

    .navs ul {
        padding-inline-start: 10px;
    }

    .navs select {
        display: none;
    }

    .protoflio .containar {
        display: block;
    }

    .two, .four, .sex {
        display: none;
    }
}

/* end protfolio */
